{
  "trailingComma": "es5",
  "overrides": [{
    "files": [
      "**/packages/*/src/**/*.js",
      "**/packages/*/__tests__/**/*.js"
    ],
    "options": {
      "trailingComma": "all"
    }
  }]
}
